<launch>

    <param name="obs_env_idx" value="0"/>

    <!-- visualization -->
    <include file="$(find visual)/launch/vis.launch" />

    <!-- Voronoi Graph Generator -->
    <include file="$(find tuw_voronoi_graph)/launch/dynamic_graph_generator.launch" />

    <!-- Start Homotopic Path Planning -->
    <include file="$(find copath)/launch/co_path_planning.launch" />

</launch>